<mat-card>
    <mat-card-header>Todos</mat-card-header>
    <mat-card-content>
        <mat-list *ngIf="loaded">
            <mat-list-item *ngFor="let item of todoList" fxLayout="row" fxLayoutAlign="space-between center"
                checkboxPosition="before">
                {{item.todo}}
                <button mat-icon-button type="button">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-list-item>
            <!-- <mat-list-item fxLayout="row" fxLayoutAlign="space-between center" checkboxPosition="before">
                ABC
                <button mat-icon-button type="button">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-list-item>
            <mat-list-item fxLayout="row" fxLayoutAlign="space-between center" checkboxPosition="before">
                MNO
                <button mat-icon-button type="button">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-list-item>
            <mat-list-item fxLayout="row" fxLayoutAlign="space-between center" checkboxPosition="before">
                XYZ
                <button mat-icon-button type="button">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-list-item> -->
        </mat-list>
    </mat-card-content>
</mat-card>