<div class="auth-container" fxLayout fxLayoutAlign="center center">
    <mat-card fxFlex="50">
        <mat-card-header fxLayout fxLayoutAlign="center center">
            <mat-card-title>Welcome to World's Best Todos App</mat-card-title>
        </mat-card-header>
        <router-outlet></router-outlet>
    </mat-card>
</div>