<div class="body-content">
    <mat-card-actions fxLayout fxLayoutGap="10px">
        <a routerLink="signup" fxFlex="50" mat-raised-button color="primary">SignUp</a>
        <a routerLink="login" fxFlex="50" mat-raised-button color="primary">Login</a>
    </mat-card-actions>
</div>