<mat-toolbar color="primary" fxLayout="row">
    <div fxFlex="42.5">{{appTitle}}</div>
    <div fxFlex="57.5" class="link-container">
        <a routerLink="home" routerLinkActive="active-link" mat-button>Home</a>
        <a routerLink="list" routerLinkActive="active-link" mat-button>Todos</a>
        <a (click)="logout()" mat-button>Logout</a>
    </div>
</mat-toolbar>