<div>
    <mat-card-content>
        <mat-card-subtitle>{{pageTitle}} Form:</mat-card-subtitle>

        <form fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start center" class="auth-form" novalidate
            [formGroup]="fg" (ngSubmit)="submit(fg.value)">

            <mat-form-field *ngIf="pageMode === authFormMode.SIGNUP">
                <input matInput [placeholder]="attributesLabels.name" formControlName="name" required
                    [autofocus]="true">
                <mat-error *ngIf="fg.get('name').hasError('required')">Name is required</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput [placeholder]="attributesLabels.email" formControlName="email" required
                    [autofocus]="true">
                <mat-error *ngIf="fg.get('email').hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="fg.get('email').hasError('email') && !fg.get('email').hasError('required') ">
                    Invalid email address
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput [placeholder]="attributesLabels.password" formControlName="password"
                    required>
                <mat-error *ngIf="fg.get('password').hasError('required')">Password is required</mat-error>
                <mat-error
                    *ngIf="fg.get('password').hasError('passNotMatched') && !fg.get('password').hasError('required') ">
                    Password did not match</mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="pageMode === authFormMode.SIGNUP">
                <input type="password" matInput [placeholder]="attributesLabels.confirmPassword"
                    formControlName="confirmPassword" required>
                <mat-error *ngIf="fg.get('confirmPassword').hasError('required')">Confirm Password is required
                </mat-error>
                <mat-error
                    *ngIf="fg.get('confirmPassword').hasError('passNotMatched') && !fg.get('confirmPassword').hasError('required')">
                    Password did not match</mat-error>
            </mat-form-field>

            <mat-card-actions>
                <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">{{pageTitle}}</button>
                <button mat-raised-button type="button" (click)="cancel()">Cancel, Go back</button>
            </mat-card-actions>
        </form>
    </mat-card-content>
</div>